# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Update Website CI

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch :

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - run: npm run build

      - name: Extract version from manifest.json
        id: get_version
        run: |
          VERSION=$(grep '"version"' public/manifest.json | sed -E 's/.*"version": "([^"]+)".*/\1/')
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Zip Extension for Reviewer
        run: |
          zip -r -FS warthog_addon_reviewer.zip * --exclude '*.git*'

      - name: Zip Extension
        run: |
          cd build
          zip -r -FS ../warthog_addon.zip * --exclude '*.git*'

      - name: sign the extension
        uses: cardinalby/webext-buildtools-firefox-sign-xpi-action@v1
        with:
          timeoutMs: 2000000
          zipFilePath: 'warthog_addon.zip'
          xpiFilePath: 'warthog_addon_firefox.xpi'
          jwtIssuer: ${{ secrets.FF_JWT_ISSUER }}
          jwtSecret: ${{ secrets.FF_JWT_SECRET }}
          extensionId: ${{ secrets.FF_EXTENSION_ID }}
        
        

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name : ${{ env.VERSION }}
          files: |
            warthog_addon.zip
            warthog_addon_firefox.xpi

